{% extends "base.html" %}
{% block content %}


<main class="content">
  <h1>
    Welcome! 🚲
  </h1>

  <section>
    <h2>
      An introduction to the urban design of Amsterdam
    </h2>
    <p>
      Whether we live in major cities or small towns, urban infrastructure permeates and
      strongly impacts our lives... But how often do we stop and think about it?
      <br>
      Whether we live in major cities or small towns, urban infrastructure permeates and
      strongly impacts our lives... But how often do we stop and think about it? Amsterdam
      is said to be an example of people-centric urban design. Is this true? What key
      (social and spatial) factors influence mobility? And of course, what lessons can
      other cities learn from Amsterdam? This open guide will have you explore Amsterdam
      as a local would experience the city's urban infrastructure.
    </p>
  </section>

  <section>
    <h2>The open museum</h2>
    <p>
      Click the ‘Play’ button below to experience Amsterdam through the eyes of a local.
      Go through the different points in the city and play the missions given to learn
      more!
    </p>
  </section>

  <a href="{{ url_for("map_page") }}" type="button" class="btn btn-success">
    Play →
  </a>

</main>
{% endblock %}
