{% extends "base.html" %}
{% block content %}


<main class="content">
  <h1>
    Welcome! 🚲
  </h1>

  <section>
    <h2>
      An introduction to the urban design of Amsterdam
    </h2>
    <p>
      Whether we live in major cities or small towns, urban infrastructure permeates and
      strongly impacts our lives... But how often do we stop and think about it?
      <br>
      Amsterdam is said to be an example of people-centric
      urban design. Is this true? This open guide will have you explore Amsterdam as a
      local would, to experience the city's urban infrastructure.
    <ul>
      <li>How easy is it to move from point A to point B?</li>
      <li>What is the purpose of streets? Is it to move, or to engage with the community,
        or to look pretty?
      </li>
      <li>Etc</li>
    </ul>

    </p>
  </section>

  <section>
    <h2>The open museum</h2>
    <p>
      the game works like this: etc etc etc etc
    </p>
  </section>

  <button>
    <a href="">Play!</a>
  </button>
</main>
{% endblock %}
