{% extends "base.html" %}
{% block content %}
<main class="content">
  <h1>Reclaim your own streets!</h1>
  <p>
    Cities throughout the world have already benefited from people-centric urban design,
    even Amsterdam stands to be improved! Do you want to learn more about the elements of
    a cycling city and rethink the purpose of mobility?
  </p>
  <p>
    The Urban Cycling Institute offers online courses about the future of human mobility
    in cities, and how to make a difference.
  </p>
  <a href="https://urbancyclinginstitute.com/online-courses/" type="button"
    class="btn btn-success" id="learn_more_button">
    Urban cycling coursera courses
  </a>
</main>
{% endblock %}
{% block js %}
<script type="module" src="{{ url_for('static', filename='button.js') }}"></script>
{% endblock %}
