{% extends "base.html" %}
{% block content %}
<main class="content">

  .<!-- Hover added -->
  <section class="place-section">
    <h3>Historic Center</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        <a class="list-link" href="">
          Central Station
        </a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a class="list-link" href="">
          Sint Antoniesbreestraat
        </a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a class="list-link" href="">
          Huis Pinto
        </a>
      </li>
    </ul>
  </section>

  <section class="place-section">
    <h3>Pre-War</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        Frans Halstraat (De Pijp)
      </li>
      <li class="list-group-item list-group-item-action">
        Alexanderplein
      </li>
      <li class="list-group-item list-group-item-action">
        Waterkersweg
      </li>
    </ul>
  </section>



</main>
{% endblock %}
