{% extends "base.html" %}
{% block content %}
<main class="content">

  <h1>Centraal Station</h1>

  <p>Find the ‘shared space’ behind Central Station, near the ferry terminals. It’s a
    space
    that doesn’t look like a road, but there is lots of movement. Observe the ‘shared
    space’. Does it work? Map the space, flow, and conflict points.
    Bonus mission: Observe what happens when you obstruct the bicycle traffic flow by
    dropping something, walking aimlessly, etc
  </p>
</main>
{% endblock %}
