{% extends "base.html" %}
{% block content %}
<main class="content">

  <h1>Heemstedestraat</h1>
  <p>
    Find Heemstedestraat and stop at the crossing of Westlandgracht. Draw the layout of
    the
    street, from building to building:
    Provide a general assessment of the street’s qualities:
  <ul>
    <li>Quality of materials: poor / average / above average
    </li>
    <li>Landscaping: poor / average / above average
    </li>
    <li>Bicycle infrastructure: poor / average / above average
    </li>
    <li>Space for walking: poor / average / above average
    </li>
    <li>Feeling safe: poor / average / above average
    </li>
  </ul>
  View your location using GoogleMaps Streetview. Click “See more dates” and view the 2019
  version of the street. Circle elements of the assessment above that changed the most.

  </p>
</main>

{% endblock %}
